In [1]:
from project_tools.dataframe_tools import TorontoCrimeDataCleaner
from pathlib import Path

In [2]:
test = TorontoCrimeDataCleaner(2015, 2018)

In [3]:
test.list_all_dataframes()

There are no dataframes to display.

In [4]:
test.add_dataframe_from_csv("assault", Path("./datasets/Assault_Open_Data.csv"))

In [5]:
test.list_all_dataframes()

------Active Dataframes------
['assault']

In [6]:
test.add_dataframe_from_csv("auto_theft", Path("./datasets/Auto_Theft_Open_Data.csv"))

In [7]:
test.add_dataframe_from_csv("bicycle_theft", Path("./datasets/Bicycle_Thefts_Open_Data.csv"))

Error in _drop_unneeded(): "['MCI_CATEGORY'] not in index"
Error in _convert_column_types(): 'NoneType' object is not subscriptable
Error in _filter_by_year(): 'NoneType' object is not subscriptable
Error in _create_datetime_column(): 'NoneType' object is not subscriptable

In [8]:
test.merged_df()

,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOW,OCC_HOUR,PREMISES_TYPE,MCI_CATEGORY,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,OCC_DATE_TIME
0,2015,January,1,Thursday,23,House,Assault,115,Mount Dennis (115),-79.504668,43.693238,2015-01-01 23:00:00
1,2015,January,1,Thursday,3,Commercial,Assault,77,Waterfront Communities-The Island (77),-79.392855,43.647315,2015-01-01 03:00:00
2,2015,January,1,Thursday,2,Commercial,Assault,77,Waterfront Communities-The Island (77),-79.387700,43.649776,2015-01-01 02:00:00
3,2015,January,1,Thursday,0,Commercial,Assault,1,West Humber-Clairville (1),-79.595562,43.686751,2015-01-01 00:00:00
4,2015,January,1,Thursday,0,Outside,Assault,77,Waterfront Communities-The Island (77),-79.400096,43.645835,2015-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
91856,2017,January,1,Sunday,12,Outside,Auto Theft,75,Church-Yonge Corridor (75),-79.377437,43.655699,2017-01-01 12:00:00
91857,2017,October,1,Sunday,0,Outside,Auto Theft,1,West Humber-Clairville (1),-79.578241,43.707540,2017-10-01 00:00:00
91858,2015,June,1,Monday,12,Apartment,Auto Theft,61,Taylor-Massey (61),-79.303358,43.695151,2015-06-01 12:00:00
91859,2018,June,14,Thursday,11,Commercial,Auto Theft,45,Parkwoods-Donalda (45),-79.310574,43.744371,2018-06-14 11:00:00
91860,2016,January,1,Friday,9,Outside,Auto Theft,44,Flemingdon Park (44),-79.324706,43.723692,2016-01-01 09:00:00

In [9]:
test.df_dict['assault']

,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOW,OCC_HOUR,PREMISES_TYPE,MCI_CATEGORY,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,OCC_DATE_TIME
16824,2015,January,1,Thursday,23,House,Assault,115,Mount Dennis (115),-79.504668,43.693238,2015-01-01 23:00:00
16825,2015,January,1,Thursday,3,Commercial,Assault,77,Waterfront Communities-The Island (77),-79.392855,43.647315,2015-01-01 03:00:00
16827,2015,January,1,Thursday,2,Commercial,Assault,77,Waterfront Communities-The Island (77),-79.387700,43.649776,2015-01-01 02:00:00
16828,2015,January,1,Thursday,0,Commercial,Assault,1,West Humber-Clairville (1),-79.595562,43.686751,2015-01-01 00:00:00
16829,2015,January,1,Thursday,0,Outside,Assault,77,Waterfront Communities-The Island (77),-79.400096,43.645835,2015-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
172776,2016,June,1,Wednesday,0,Outside,Assault,73,Moss Park (73),-79.364286,43.653969,2016-06-01 00:00:00
172867,2017,May,20,Saturday,10,House,Assault,3,Thistletown-Beaumond Heights (3),-79.562345,43.733225,2017-05-20 10:00:00
172906,2018,June,1,Friday,0,Apartment,Assault,26,Downsview-Roding-CFB (26),-79.472762,43.733097,2018-06-01 00:00:00
172952,2018,September,1,Saturday,0,Apartment,Assault,76,Bay Street Corridor (76),-79.387134,43.649900,2018-09-01 00:00:00
173090,2018,February,1,Thursday,0,Apartment,Assault,53,Henry Farm (53),-79.346528,43.769565,2018-02-01 00:00:00

In [10]:
test.df_dict['auto_theft']

,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOW,OCC_HOUR,PREMISES_TYPE,MCI_CATEGORY,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,OCC_DATE_TIME
3635,2015,January,1,Thursday,6,Outside,Auto Theft,79,University (79),-79.403867,43.666651,2015-01-01 06:00:00
3637,2015,January,1,Thursday,2,Outside,Auto Theft,132,Malvern (132),-79.234193,43.808042,2015-01-01 02:00:00
3640,2015,January,2,Friday,19,Outside,Auto Theft,93,Dovercourt-Wallace Emerson-Junction (93),-79.443561,43.667322,2015-01-02 19:00:00
3641,2015,January,1,Thursday,16,House,Auto Theft,110,Keelesdale-Eglinton West (110),-79.469655,43.689401,2015-01-01 16:00:00
3642,2015,January,2,Friday,18,Outside,Auto Theft,16,Stonegate-Queensway (16),-79.512384,43.625928,2015-01-02 18:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
29696,2017,January,1,Sunday,12,Outside,Auto Theft,75,Church-Yonge Corridor (75),-79.377437,43.655699,2017-01-01 12:00:00
30090,2017,October,1,Sunday,0,Outside,Auto Theft,1,West Humber-Clairville (1),-79.578241,43.707540,2017-10-01 00:00:00
31103,2015,June,1,Monday,12,Apartment,Auto Theft,61,Taylor-Massey (61),-79.303358,43.695151,2015-06-01 12:00:00
32082,2018,June,14,Thursday,11,Commercial,Auto Theft,45,Parkwoods-Donalda (45),-79.310574,43.744371,2018-06-14 11:00:00
42194,2016,January,1,Friday,9,Outside,Auto Theft,44,Flemingdon Park (44),-79.324706,43.723692,2016-01-01 09:00:00

In [11]:
test.export_all_cleaned()

Successfully saved Assault_Open_Data_cleaned_2015_2018.csv!
Successfully saved Auto_Theft_Open_Data_cleaned_2015_2018.csv!

AttributeError: 'NoneType' object has no attribute 'to_csv'